# deps
node_modules/
.pnp.*

# builds
.next/
out/
dist/
build/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# misc
*.tsbuildinfo
next-env.d.ts
__wtest.txt
